h2 {
  margin: 300px 0px 20px 0px;
  top: 0px;
  left: 0px;
  font-size: 64px;
  font-family: "Titillium Web", sans-serif;
}

h4 {
  font-family: "Titillium Web", sans-serif;
}

.col-centered-left {
  float: none;
  margin-right: 2px;
  margin-left: auto;
  max-width: 300px;
}

.col-centered-right {
  float: none;
  margin-right: auto;
  margin-left: 2px;
  max-width: 300px;
}

.greyscale {
  filter: grayscale(100%);
}

#dice {
  background-color: grey;
}

#results {
  margin: 40px 0px 20px 0px;
  font-family: "Raleway", sans-serif;
}

#description {
  font-size: 15px;
}
