body {
  background-color: rgb(233, 231, 224);
}
h2 {
  font-size: 64px;
  font-family: "Titillium Web", sans-serif;
}

h4 {
  font-family: "Titillium Web", sans-serif;
}

p {
  margin-bottom: 0;
}

.col-centered-left {
  float: none;
  margin-right: 2px;
  margin-left: auto;
  max-width: 300px;
}

.col-centered-right {
  float: none;
  margin-right: auto;
  margin-left: 2px;
  max-width: 300px;
}

.greyscale {
  filter: grayscale(100%);
}

.title {
  margin: 10px 5px 5px 5px;
}

#dice {
  background-color: grey;
}

#results {
  margin: 40px 0px 20px 0px;
  font-family: "Raleway", sans-serif;
}

#description {
  font-size: 15px;
}

#wikisearch {
  margin-top: 300px;
}

.choiceitems {
  background-color: rgb(211, 208, 197);
  margin-bottom: 1%;
  padding: 10px 10px 0px 10px;
}
